<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Library
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body bgcolor="lightblue">
    <header>
        <img src="http://intranet.kongu.edu/library/library/images/keclibhead.jpg" alt="library" width="1350" height="130" style="align-items: center
    ;">
    </header>
    <div>
        <table border="1">

            <tr>
                <td>
                    <ul>
                        <li><a href="" target="_blank" rel="noopener noreferrer">Home</a></li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer">WEBOPAC</a></li>
                        <li>DIGITAL LIBRARY
                            <ul>
                                <li><a href="">E-Books</a></li>
                                <li><a href="">E-Journals</a></li>
                            </ul>
                        </li>
                        
                        <a href="Digimat"></a>
                        <li>Plagiarism 
                        <ol>
                            <li><a href="">Turnitin-iThenticate</a></li>
           
                        </ol>
                        </li>
                        <li><a href="">Inter Library Loan</a></li>
                        <p>JOURNALS LIST</p>
                        <li><a href="">International-Softcopy</a>
                        </li>
                        <li><a href="">National - Hardcopy</a></li>
                    </ul>
                   

                </td>
                <td><h2>Welcome to the Central Library</h2>
                <p>The College Central Library established in the year 1984, was housed in a classroom with 700 books to start with. In 1986 when the college was shifted to its permanent building, the library occupied a lecture hall in the first floor of the main building. In 1991, it was shifted to the present building named C.D. MEMORIAL LIBRARY in honour of the founder correspondent, Thiru. C. Doraisamy. In the year 2005, the library buildings were extended from 5 sections to 12 various sections with discussion rooms, modern furniture, and air conditioning. The Library transactions are carried out by Bar Code Technology. It has the facility of Web OPAC-online search. So the library catalogue can be accessed through intranet. The library is being subscribed to the E-resources and also, the library has Digital surveillance cameras for proper vigilance. </p>
                <p>Objective</p>
                <ul>
                    <li>To ensure the availability of books and journals required by the students and faculty</li>
                    <li>To increase the utilization rate of library facilities</li>
                    <li>Collecting, preserving and building connection between the record of human knowledge and achievement</li>
                    <li>We help to meet academic and personal goals that extend knowledge and promote achievement in the individual and in the department</li>
                </ul>

                <h4>Professor In-charge Library</h4>
                <p>Dr. R.Baskar,</p>
                <p>Department of Food Technology </p>

                <h4>Dr.S.Arjunan</h4>
                <p>Librarian (Sr.G) </p>
                <h4>Mr.D.Shanmugasundarm</h4>
                <p>Asst.Librarian (Acquisition Section) </p>
                <p>Mr.S.Jaganathan</p>
                <p>

                    Asst.Librarian (Digital Section)</p>



                </td>
            </tr>
        </table>
    </div>
    
</body>
</html>